**0. Configurar o ambiente**

In [1]:
## Importar os pacotes
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
# Mudar número de colunas que aparecem
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Mudar número de linhas que aparecem
pd.set_option('display.max_rows', None)

**1. Configurar a base de dados**

1.1 Importar e organizar as colunas

In [3]:
## Ler a base de dados
if 'google.colab' in str(get_ipython()):
  from google.colab import drive 
  drive.mount('/content/drive', force_remount=True)
  df = pd.read_csv('/content/drive/MyDrive/Colab dados/CadUnico_Julho2021_Anonimizada.csv', low_memory=False)
else:
  df = pd.read_csv('/Users/fernandovieira/Library/CloudStorage/OneDrive-Pessoal/5. Trabalho/Expediente/Ativos/CGE/a. Hora-Atividade/III. Auditoria e Controle 2/SA/OS 240-2021/Piloto Setasc/Dados SER Familia/CADUNICO_SETASC/CadUnico_Julho2021_Anonimizada.csv', 
                   low_memory=False)

Mounted at /content/drive

In [4]:
## Renomear as colunas p/ códigos (qtde + nr.)
abrevia_colunas = []
for i in range(0, df.columns.size):
    ac = 'Q'+str(i)
    abrevia_colunas.append(ac)

df.columns = abrevia_colunas

In [5]:
df.head(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76,Q77,Q78,Q79,Q80,Q81,Q82,Q83,Q84,Q85,Q86,Q87,Q88,Q89,Q90,Q91,Q92,Q93,Q94,Q95,Q96,Q97,Q98,Q99,Q100,Q101,Q102,Q103,Q104,Q105,Q106,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116,Q117,Q118,Q119,Q120,Q121,Q122,Q123,Q124,Q125,Q126,Q127,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137,Q138,Q139,Q140,Q141,Q142,Q143,Q144,Q145,Q146,Q147,Q148,Q149,Q150,Q151,Q152,Q153,Q154,Q155,Q156,Q157,Q158,Q159,Q160,Q161,Q162,Q163,Q164
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,1.0,1.0,8.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2.0,1.0,NaN,NaN,NaN,200,13.0,50.0,280,0.0,0.0,100.0,NaN,NaN,NaN,NaN,0.0,2021-06-12,202107.0,148352669,3,2,2.033368e+10,2,1961-08-25,1.0,4.0,1.0,MT,ACORIZAL,5100102.0,NaN,10,10,1,2.0,5100102.0,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,2.0,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,202107.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,1.0,1.0,8.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2.0,1.0,NaN,NaN,NaN,200,13.0,50.0,280,0.0,0.0,100.0,NaN,NaN,NaN,NaN,0.0,2021-06-12,202107.0,148352669,3,2,2.033368e+10,1,1958-03-01,2.0,1.0,1.0,MT,ACORIZAL,5100102.0,NaN,10,11,1,2.0,5100102.0,MT,1996-07-07,MT,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,202107.0

In [6]:
df.tail(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76,Q77,Q78,Q79,Q80,Q81,Q82,Q83,Q84,Q85,Q86,Q87,Q88,Q89,Q90,Q91,Q92,Q93,Q94,Q95,Q96,Q97,Q98,Q99,Q100,Q101,Q102,Q103,Q104,Q105,Q106,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116,Q117,Q118,Q119,Q120,Q121,Q122,Q123,Q124,Q125,Q126,Q127,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137,Q138,Q139,Q140,Q141,Q142,Q143,Q144,Q145,Q146,Q147,Q148,Q149,Q150,Q151,Q152,Q153,Q154,Q155,Q156,Q157,Q158,Q159,Q160,Q161,Q162,Q163,Q164
1316483,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,1.0,1.0,5.0,2.0,5.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,3.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3.0,2.0,0.0,0.0,0.0,66,0.0,60.0,400,100.0,0.0,0.0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,0.0,2021-06-12,NaN,6520457230,3,2,2.388970e+10,1,1998-07-31,2.0,4.0,2.0,MT,ALTA FLORESTA,5100250.0,NaN,10,4,0,NaN,NaN,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,1.0,5.0,1.0,NaN,2.0,3.0,1500.0,1.0,12.0,18000.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,NaN
1316484,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,1.0,1.0,5.0,2.0,5.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,3.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3.0,2.0,0.0,0.0,0.0,66,0.0,60.0,400,100.0,0.0,0.0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,0.0,2021-06-12,NaN,6520457230,3,2,2.064009e+10,2,2000-01-11,1.0,4.0,2.0,MT,CARLINDA,5102793.0,NaN,10,4,0,1.0,5102793.0,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,1.0,5.0,2.0,2.0,NaN,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,NaN

In [8]:
## glossario: descrição e tipo dos dados
if 'google.colab' in str(get_ipython()):
  from google.colab import drive 
  glossario = pd.read_csv('/content/drive/MyDrive/Colab dados/glossario_os.csv')
else:
  glossario = pd.read_csv('/Users/fernandovieira/Library/CloudStorage/OneDrive-Pessoal/5. Trabalho/Expediente/Ativos/CGE/a. Hora-Atividade/III. Auditoria e Controle 2/SA/OS 240-2021/Piloto Setasc/Dados SER Familia/CADUNICO_SETASC/glossario_os.csv')

# glossario

In [9]:
# glossario

1.2 Criar o df usado na análise

In [10]:
## Separar colunas úteis na análise do SER Família Emergencial (OS 240)
SF = ['Q0', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12',
      'Q47', 'Q48', 'Q49', 'Q50', 'Q52', 'Q53', 'Q54', 'Q55', 'Q57', 'Q58', 'Q59', 'Q60', 'Q64',
      'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113', 'Q114', 'Q115', 'Q116']
# Q162 e Q163 aparentemente se referem a cadastros de programa voltados para moradores de rua. Confirmar.

serem = df.loc[:, SF]

In [11]:
serem.head(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q47,Q48,Q49,Q50,Q52,Q53,Q54,Q55,Q57,Q58,Q59,Q60,Q64,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,2,1961-08-25,1.0,ACORIZAL,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,1,1958-03-01,2.0,ACORIZAL,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [12]:
serem.tail(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q47,Q48,Q49,Q50,Q52,Q53,Q54,Q55,Q57,Q58,Q59,Q60,Q64,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116
1316483,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,2021-06-12,NaN,6520457230,3,2.388970e+10,1,1998-07-31,2.0,ALTA FLORESTA,3.0,1500.0,1.0,12.0,18000.0,0.0,0.0,0.0,0.0,0.0
1316484,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,2021-06-12,NaN,6520457230,3,2.064009e+10,2,2000-01-11,1.0,CARLINDA,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [13]:
## Mudar títulos das colunas
titulos = ['0_cod_ibge', '1_cod', '1_data_cad', '1_data_atual_cad', '1_sit_cad', '1_forma_coleta',
           '1_data_entrev', '1_bairro', '1_rem_media', '1_rem_faixa', '1_rem_total', '1_pbf',
           '1_meses_cad_desat', '0_nome_eas', '0_cod_eas', '0_nome_cras', '0_cod_cras', 'Q52',
           'Q53', '2_cod_fam', '2_sit_cad', '2_nis', '2_sexo', '2_data_nasc',
           '3_rel_parent_rf', '1_cidade', '3_cod_prof', '3_rem_emp', '3_trab_rem_12meses', '3_qtde_12meses', '3_rem_12meses',
           '3_rem_doacao', '3_rem_aposent', '3_rem_segDes', '3_rem_pensAlim', '3_rem_outras']

# 0: institucional
# 1: família
# 2: pessoa
# 3: responsável familiar (rf) ou membro

serem.columns = titulos

In [14]:
serem.head()

,0_cod_ibge,1_cod,1_data_cad,1_data_atual_cad,1_sit_cad,1_forma_coleta,1_data_entrev,1_bairro,1_rem_media,1_rem_faixa,1_rem_total,1_pbf,1_meses_cad_desat,0_nome_eas,0_cod_eas,0_nome_cras,0_cod_cras,Q52,Q53,2_cod_fam,2_sit_cad,2_nis,2_sexo,2_data_nasc,3_rel_parent_rf,1_cidade,3_cod_prof,3_rem_emp,3_trab_rem_12meses,3_qtde_12meses,3_rem_12meses,3_rem_doacao,3_rem_aposent,3_rem_segDes,3_rem_pensAlim,3_rem_outras
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,2,1961-08-25,1.0,ACORIZAL,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,1,1958-03-01,2.0,ACORIZAL,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,5100102,148352901,2002-05-29,2019-01-07,3,1,2018-01-07,ALDEIA,33,1,99.0,1,3,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352901,3,1.241636e+10,1,1960-03-20,2.0,ACORIZAL,1.0,300.0,1.0,4.0,1200.0,0.0,0.0,0.0,0.0,0.0
3,5100102,148352901,2002-05-29,2019-01-07,3,1,2018-01-07,ALDEIA,33,1,99.0,1,3,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352901,3,1.621500e+10,1,1993-03-09,3.0,VARZEA GRANDE,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,5100102,148352901,2002-05-29,2019-01-07,3,1,2018-01-07,ALDEIA,33,1,99.0,1,3,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352901,3,1.621493e+10,2,1959-12-12,1.0,ACORIZAL,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [15]:
## Deixar colunas em ordem alfanumérica
serem = serem.reindex(columns=sorted(serem.columns))

1.3 Formatar as colunas do df

In [16]:
## Retirar colunas em dúvidas s/ o que se trata
# confirmar depois com Setasc e ver se dá para usar
serem.drop(['Q52', 'Q53'], axis=1, inplace=True)

# ver também a diferença entre '3_rem_emp' e '3_rem_12meses'

In [17]:
serem.tail(1)

,0_cod_cras,0_cod_eas,0_cod_ibge,0_nome_cras,0_nome_eas,1_bairro,1_cidade,1_cod,1_data_atual_cad,1_data_cad,1_data_entrev,1_forma_coleta,1_meses_cad_desat,1_pbf,1_rem_faixa,1_rem_media,1_rem_total,1_sit_cad,2_cod_fam,2_data_nasc,2_nis,2_sexo,2_sit_cad,3_cod_prof,3_qtde_12meses,3_rel_parent_rf,3_rem_12meses,3_rem_aposent,3_rem_doacao,3_rem_emp,3_rem_outras,3_rem_pensAlim,3_rem_segDes,3_trab_rem_12meses
1316484,NaN,2471213.0,5108956,NaN,PSF I JOAO HUNKA NETO,CENTRO,CARLINDA,6520457230,2021-06-08,2021-06-07,2021-06-08,1,0,0,4,750,1500.0,3,6520457230,2000-01-11,2.064009e+10,2,3,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [18]:
## Configurar os tipos dos dados nas colunas
# descrição (pandas type)

# Textos (object)
for col in ['0_cod_cras', '0_cod_eas', '0_cod_ibge', '0_nome_cras', '0_nome_eas', '1_bairro', '1_cidade',
 '1_cod', '2_cod_fam', '2_nis']:
 serem[col] = serem[col].astype('object')

# Código/ID (category)
for col in ['1_forma_coleta', '1_rem_faixa', '1_sit_cad', '2_sexo', '2_sit_cad', '3_cod_prof', '3_rel_parent_rf',
            '3_trab_rem_12meses']:
  serem[col] = serem[col].astype('category')
 
# Datas (datetime)
for col in ['1_data_atual_cad', '1_data_cad', '1_data_entrev', '2_data_nasc']: 
  serem[col] = pd.to_datetime(serem[col])

# Números inteiro (int)
for col in ['1_meses_cad_desat', '3_qtde_12meses']: 
  serem[col] = pd.to_numeric(serem[col], downcast='integer')
 
# Números reais (float)
for col in ['1_rem_media', '1_rem_total', '3_rem_emp', '3_rem_12meses', '3_rem_aposent', '3_rem_doacao', 
            '3_rem_outras', '3_rem_pensAlim', '3_rem_segDes']:
  serem[col] = pd.to_numeric(serem[col], downcast='float')
 
# Binário (bool)
for col in ['1_pbf']:
  serem[col] = serem[col].astype('bool')

In [19]:
serem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316485 entries, 0 to 1316484
Data columns (total 34 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   0_cod_cras          494142 non-null   object
 1   0_cod_eas           581795 non-null   object
 2   0_cod_ibge          1316485 non-null  object
 3   0_nome_cras         494142 non-null   object
 4   0_nome_eas          581795 non-null   object
 5   1_bairro            1316485 non-null  object
 6   1_cidade            1303851 non-null  object
 7   1_cod               1316485 non-null  object
 8   1_data_atual_cad    1316485 non-null  datetime64[ns]
 9   1_data_cad          1316485 non-null  datetime64[ns]
 10  1_data_entrev       1316485 non-null  datetime64[ns]
 11  1_forma_coleta      1316485 non-null  category
 12  1_meses_cad_desat   1316485 non-null  int8
 13  1_pbf               1316485 non-null  bool
 14  1_rem_faixa         1316485 non-null  category
 15  1_rem_media         1316485 non-null  float32
 16  1_rem_total         1316459 non-null  float32
 17  1_sit_cad           1316485 non-null  category
 18  2_cod_fam           1316485 non-null  object
 19  2_data_nasc         1316485 non-null  datetime64[ns]
 20  2_nis               1316440 non-null  object
 21  2_sexo              1316485 non-null  category
 22  2_sit_cad           1316485 non-null  category
 23  3_cod_prof          306053 non-null   category
 24  3_qtde_12meses      321378 non-null   float64
 25  3_rel_parent_rf     1309891 non-null  category
 26  3_rem_12meses       321378 non-null   float32
 27  3_rem_aposent       1315784 non-null  float32
 28  3_rem_doacao        894654 non-null   float32
 29  3_rem_emp           894645 non-null   float32
 30  3_rem_outras        894668 non-null   float32
 31  3_rem_pensAlim      1315770 non-null  float32
 32  3_rem_segDes        894653 non-null   float32
 33  3_trab_rem_12meses  894640 non-null   category
dtypes: bool(1), category(8), datetime64[ns](4), float32(9), float64(1), int8(1), object(10)
memory usage: 208.4+ MB

In [20]:
serem.head()

,0_cod_cras,0_cod_eas,0_cod_ibge,0_nome_cras,0_nome_eas,1_bairro,1_cidade,1_cod,1_data_atual_cad,1_data_cad,1_data_entrev,1_forma_coleta,1_meses_cad_desat,1_pbf,1_rem_faixa,1_rem_media,1_rem_total,1_sit_cad,2_cod_fam,2_data_nasc,2_nis,2_sexo,2_sit_cad,3_cod_prof,3_qtde_12meses,3_rel_parent_rf,3_rem_12meses,3_rem_aposent,3_rem_doacao,3_rem_emp,3_rem_outras,3_rem_pensAlim,3_rem_segDes,3_trab_rem_12meses
0,NaN,NaN,5100102,NaN,NaN,JOAO DE BARRO I,ACORIZAL,148352669,2020-03-17,2002-05-29,2020-03-17,1,1,True,1,25.0,50.0,3,148352669,1961-08-25,20333683859.0,2,3,1.0,6.0,1.0,600.0,0.0,0.0,100.0,0.0,0.0,0.0,1.0
1,NaN,NaN,5100102,NaN,NaN,JOAO DE BARRO I,ACORIZAL,148352669,2020-03-17,2002-05-29,2020-03-17,1,1,True,1,25.0,50.0,3,148352669,1958-03-01,20333683867.0,1,3,NaN,NaN,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,NaN,NaN,5100102,NaN,NaN,ALDEIA,ACORIZAL,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,True,1,33.0,99.0,3,148352901,1960-03-20,12416358059.0,1,3,1.0,4.0,2.0,1200.0,0.0,0.0,300.0,0.0,0.0,0.0,1.0
3,NaN,NaN,5100102,NaN,NaN,ALDEIA,VARZEA GRANDE,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,True,1,33.0,99.0,3,148352901,1993-03-09,16214998300.0,1,3,NaN,NaN,3.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,NaN,NaN,5100102,NaN,NaN,ALDEIA,ACORIZAL,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,True,1,33.0,99.0,3,148352901,1959-12-12,16214931249.0,2,3,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [21]:
## Verificar a qtde de dados faltantes em cada coluna
for i in serem.columns:
  print(i, ':', round(serem[i].isna().sum()/len(serem), 3))

0_cod_cras : 0.625
0_cod_eas : 0.558
0_cod_ibge : 0.0
0_nome_cras : 0.625
0_nome_eas : 0.558
1_bairro : 0.0
1_cidade : 0.01
1_cod : 0.0
1_data_atual_cad : 0.0
1_data_cad : 0.0
1_data_entrev : 0.0
1_forma_coleta : 0.0
1_meses_cad_desat : 0.0
1_pbf : 0.0
1_rem_faixa : 0.0
1_rem_media : 0.0
1_rem_total : 0.0
1_sit_cad : 0.0
2_cod_fam : 0.0
2_data_nasc : 0.0
2_nis : 0.0
2_sexo : 0.0
2_sit_cad : 0.0
3_cod_prof : 0.768
3_qtde_12meses : 0.756
3_rel_parent_rf : 0.005
3_rem_12meses : 0.756
3_rem_aposent : 0.001
3_rem_doacao : 0.32
3_rem_emp : 0.32
3_rem_outras : 0.32
3_rem_pensAlim : 0.001
3_rem_segDes : 0.32
3_trab_rem_12meses : 0.32

In [22]:
## Remover colunas com mais de 35% dos dados faltantes
# as colunas relacionadas a nomes e códigos de Cras e Creas não interferem tanto, considerando
# os objetivo da análise (SER Emergencial). Entretanto, após o término, confirmar se as colunas
# removidas '3_cod_prof', '3_qtde_12meses' e '3_rem_12meses', relacionadas a trabalho remunerado 
# dos potenciais beneficiários, não deve ser posteriormente incluída na investigação.
serem.drop(['0_cod_cras', '0_cod_eas', '0_nome_cras', '0_nome_eas', '3_cod_prof',
            '3_qtde_12meses', '3_rem_12meses'], axis=1, inplace=True)

# de novo: ver com Setasc a diferença entre '3_rem_emp' e '3_rem_12meses'

In [23]:
serem.head()

,0_cod_ibge,1_bairro,1_cidade,1_cod,1_data_atual_cad,1_data_cad,1_data_entrev,1_forma_coleta,1_meses_cad_desat,1_pbf,1_rem_faixa,1_rem_media,1_rem_total,1_sit_cad,2_cod_fam,2_data_nasc,2_nis,2_sexo,2_sit_cad,3_rel_parent_rf,3_rem_aposent,3_rem_doacao,3_rem_emp,3_rem_outras,3_rem_pensAlim,3_rem_segDes,3_trab_rem_12meses
0,5100102,JOAO DE BARRO I,ACORIZAL,148352669,2020-03-17,2002-05-29,2020-03-17,1,1,True,1,25.0,50.0,3,148352669,1961-08-25,20333683859.0,2,3,1.0,0.0,0.0,100.0,0.0,0.0,0.0,1.0
1,5100102,JOAO DE BARRO I,ACORIZAL,148352669,2020-03-17,2002-05-29,2020-03-17,1,1,True,1,25.0,50.0,3,148352669,1958-03-01,20333683867.0,1,3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,5100102,ALDEIA,ACORIZAL,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,True,1,33.0,99.0,3,148352901,1960-03-20,12416358059.0,1,3,2.0,0.0,0.0,300.0,0.0,0.0,0.0,1.0
3,5100102,ALDEIA,VARZEA GRANDE,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,True,1,33.0,99.0,3,148352901,1993-03-09,16214998300.0,1,3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,5100102,ALDEIA,ACORIZAL,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,True,1,33.0,99.0,3,148352901,1959-12-12,16214931249.0,2,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [24]:
serem.tail()

,0_cod_ibge,1_bairro,1_cidade,1_cod,1_data_atual_cad,1_data_cad,1_data_entrev,1_forma_coleta,1_meses_cad_desat,1_pbf,1_rem_faixa,1_rem_media,1_rem_total,1_sit_cad,2_cod_fam,2_data_nasc,2_nis,2_sexo,2_sit_cad,3_rel_parent_rf,3_rem_aposent,3_rem_doacao,3_rem_emp,3_rem_outras,3_rem_pensAlim,3_rem_segDes,3_trab_rem_12meses
1316480,5108956,ESTRADA SAO BERNARDO,APIACAS,6509608820,2021-05-25,2021-05-25,2021-05-25,1,0,False,2,144.0,432.0,3,6509608820,2005-05-06,16336310508.0,2,3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1316481,5108956,LOTEAMENTO SANTO ANTONIO,JUARA,6517206647,2021-06-01,2021-06-01,2021-06-01,1,0,False,3,333.0,333.0,3,6517206647,1999-12-17,21047888884.0,2,3,1.0,0.0,0.0,800.0,0.0,0.0,0.0,1.0
1316482,5108956,ESTRADA PALMITAL,IPORA,6518517344,2021-06-02,2021-06-02,2021-06-02,1,0,False,1,50.0,50.0,3,6518517344,1969-01-12,12730674537.0,2,3,1.0,0.0,0.0,600.0,0.0,0.0,0.0,1.0
1316483,5108956,CENTRO,ALTA FLORESTA,6520457230,2021-06-08,2021-06-07,2021-06-08,1,0,False,4,750.0,1500.0,3,6520457230,1998-07-31,23889700353.0,1,3,2.0,0.0,0.0,1500.0,0.0,0.0,0.0,1.0
1316484,5108956,CENTRO,CARLINDA,6520457230,2021-06-08,2021-06-07,2021-06-08,1,0,False,4,750.0,1500.0,3,6520457230,2000-01-11,20640091452.0,2,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [25]:
serem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316485 entries, 0 to 1316484
Data columns (total 27 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   0_cod_ibge          1316485 non-null  object
 1   1_bairro            1316485 non-null  object
 2   1_cidade            1303851 non-null  object
 3   1_cod               1316485 non-null  object
 4   1_data_atual_cad    1316485 non-null  datetime64[ns]
 5   1_data_cad          1316485 non-null  datetime64[ns]
 6   1_data_entrev       1316485 non-null  datetime64[ns]
 7   1_forma_coleta      1316485 non-null  category
 8   1_meses_cad_desat   1316485 non-null  int8
 9   1_pbf               1316485 non-null  bool
 10  1_rem_faixa         1316485 non-null  category
 11  1_rem_media         1316485 non-null  float32
 12  1_rem_total         1316459 non-null  float32
 13  1_sit_cad           1316485 non-null  category
 14  2_cod_fam           1316485 non-null  object
 15  2_data_nasc         1316485 non-null  datetime64[ns]
 16  2_nis               1316440 non-null  object
 17  2_sexo              1316485 non-null  category
 18  2_sit_cad           1316485 non-null  category
 19  3_rel_parent_rf     1309891 non-null  category
 20  3_rem_aposent       1315784 non-null  float32
 21  3_rem_doacao        894654 non-null   float32
 22  3_rem_emp           894645 non-null   float32
 23  3_rem_outras        894668 non-null   float32
 24  3_rem_pensAlim      1315770 non-null  float32
 25  3_rem_segDes        894653 non-null   float32
 26  3_trab_rem_12meses  894640 non-null   category
dtypes: bool(1), category(7), datetime64[ns](4), float32(8), int8(1), object(6)
memory usage: 151.9+ MB

**2. Análise exploratória dos dados**