Configurar o ambiente

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
# Mudar número de colunas que aparecem
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Mudar número de linhas que aparecem
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     print(df.dtypes)

In [3]:
if 'google.colab' in str(get_ipython()):
  from google.colab import drive 
  drive.mount('/content/drive', force_remount=True)
  df = pd.read_csv('/content/drive/MyDrive/Colab dados/CadUnico_Julho2021_Anonimizada.csv', low_memory=False)
else:
  df = pd.read_csv('/Users/fernandovieira/Library/CloudStorage/OneDrive-Pessoal/5. Trabalho/Expediente/Ativos/CGE/a. Hora-Atividade/III. Auditoria e Controle 2/SA/OS 240-2021/Piloto Setasc/Dados SER Familia/CADUNICO_SETASC/CadUnico_Julho2021_Anonimizada.csv', 
                   low_memory=False)

Mounted at /content/drive

Importar dados e criar df

In [4]:
## Renomear as colunas
abrevia_colunas = []
for i in range(0, df.columns.size):
    ac = 'Q'+str(i)
    abrevia_colunas.append(ac)

df.columns = abrevia_colunas

In [5]:
df.head(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76,Q77,Q78,Q79,Q80,Q81,Q82,Q83,Q84,Q85,Q86,Q87,Q88,Q89,Q90,Q91,Q92,Q93,Q94,Q95,Q96,Q97,Q98,Q99,Q100,Q101,Q102,Q103,Q104,Q105,Q106,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116,Q117,Q118,Q119,Q120,Q121,Q122,Q123,Q124,Q125,Q126,Q127,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137,Q138,Q139,Q140,Q141,Q142,Q143,Q144,Q145,Q146,Q147,Q148,Q149,Q150,Q151,Q152,Q153,Q154,Q155,Q156,Q157,Q158,Q159,Q160,Q161,Q162,Q163,Q164
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,1.0,1.0,8.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2.0,1.0,NaN,NaN,NaN,200,13.0,50.0,280,0.0,0.0,100.0,NaN,NaN,NaN,NaN,0.0,2021-06-12,202107.0,148352669,3,2,2.033368e+10,2,1961-08-25,1.0,4.0,1.0,MT,ACORIZAL,5100102.0,NaN,10,10,1,2.0,5100102.0,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,2.0,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,202107.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,1.0,1.0,8.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2.0,1.0,NaN,NaN,NaN,200,13.0,50.0,280,0.0,0.0,100.0,NaN,NaN,NaN,NaN,0.0,2021-06-12,202107.0,148352669,3,2,2.033368e+10,1,1958-03-01,2.0,1.0,1.0,MT,ACORIZAL,5100102.0,NaN,10,11,1,2.0,5100102.0,MT,1996-07-07,MT,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,202107.0