Configurar o ambiente

In [ ]:
## Importar os pacotes
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
# Mudar número de colunas que aparecem
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Mudar número de linhas que aparecem
pd.set_option('display.max_rows', None)

Importar dados e criar df

In [ ]:
## Ler a base de dados
if 'google.colab' in str(get_ipython()):
  from google.colab import drive 
  drive.mount('/content/drive', force_remount=True)
  df = pd.read_csv('/content/drive/MyDrive/Colab dados/CadUnico_Julho2021_Anonimizada.csv', low_memory=False)
else:
  df = pd.read_csv('/Users/fernandovieira/Library/CloudStorage/OneDrive-Pessoal/5. Trabalho/Expediente/Ativos/CGE/a. Hora-Atividade/III. Auditoria e Controle 2/SA/OS 240-2021/Piloto Setasc/Dados SER Familia/CADUNICO_SETASC/CadUnico_Julho2021_Anonimizada.csv', 
                   low_memory=False)

Mounted at /content/drive

In [ ]:
## Renomear as colunas p/ códigos (qtde + nr.)
abrevia_colunas = []
for i in range(0, df.columns.size):
    ac = 'Q'+str(i)
    abrevia_colunas.append(ac)

df.columns = abrevia_colunas

In [ ]:
df.head(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76,Q77,Q78,Q79,Q80,Q81,Q82,Q83,Q84,Q85,Q86,Q87,Q88,Q89,Q90,Q91,Q92,Q93,Q94,Q95,Q96,Q97,Q98,Q99,Q100,Q101,Q102,Q103,Q104,Q105,Q106,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116,Q117,Q118,Q119,Q120,Q121,Q122,Q123,Q124,Q125,Q126,Q127,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137,Q138,Q139,Q140,Q141,Q142,Q143,Q144,Q145,Q146,Q147,Q148,Q149,Q150,Q151,Q152,Q153,Q154,Q155,Q156,Q157,Q158,Q159,Q160,Q161,Q162,Q163,Q164
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,1.0,1.0,8.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2.0,1.0,NaN,NaN,NaN,200,13.0,50.0,280,0.0,0.0,100.0,NaN,NaN,NaN,NaN,0.0,2021-06-12,202107.0,148352669,3,2,2.033368e+10,2,1961-08-25,1.0,4.0,1.0,MT,ACORIZAL,5100102.0,NaN,10,10,1,2.0,5100102.0,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,2.0,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,202107.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,1.0,1.0,8.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2.0,1.0,NaN,NaN,NaN,200,13.0,50.0,280,0.0,0.0,100.0,NaN,NaN,NaN,NaN,0.0,2021-06-12,202107.0,148352669,3,2,2.033368e+10,1,1958-03-01,2.0,1.0,1.0,MT,ACORIZAL,5100102.0,NaN,10,11,1,2.0,5100102.0,MT,1996-07-07,MT,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,202107.0

In [ ]:
df.tail(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76,Q77,Q78,Q79,Q80,Q81,Q82,Q83,Q84,Q85,Q86,Q87,Q88,Q89,Q90,Q91,Q92,Q93,Q94,Q95,Q96,Q97,Q98,Q99,Q100,Q101,Q102,Q103,Q104,Q105,Q106,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116,Q117,Q118,Q119,Q120,Q121,Q122,Q123,Q124,Q125,Q126,Q127,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137,Q138,Q139,Q140,Q141,Q142,Q143,Q144,Q145,Q146,Q147,Q148,Q149,Q150,Q151,Q152,Q153,Q154,Q155,Q156,Q157,Q158,Q159,Q160,Q161,Q162,Q163,Q164
1316483,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,1.0,1.0,5.0,2.0,5.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,3.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3.0,2.0,0.0,0.0,0.0,66,0.0,60.0,400,100.0,0.0,0.0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,0.0,2021-06-12,NaN,6520457230,3,2,2.388970e+10,1,1998-07-31,2.0,4.0,2.0,MT,ALTA FLORESTA,5100250.0,NaN,10,4,0,NaN,NaN,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,1.0,5.0,1.0,NaN,2.0,3.0,1500.0,1.0,12.0,18000.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,NaN
1316484,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,1.0,1.0,5.0,2.0,5.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,3.0,2,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3.0,2.0,0.0,0.0,0.0,66,0.0,60.0,400,100.0,0.0,0.0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,0.0,2021-06-12,NaN,6520457230,3,2,2.064009e+10,2,2000-01-11,1.0,4.0,2.0,MT,CARLINDA,5102793.0,NaN,10,4,0,1.0,5102793.0,MT,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,1.0,5.0,2.0,2.0,NaN,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-12,NaN

In [ ]:
# df.info(verbose=True)

In [ ]:
## glossario: descrição e tipo dos dados
if 'google.colab' in str(get_ipython()):
  from google.colab import drive 
  glossario = pd.read_csv('/content/drive/MyDrive/Colab dados/glossario_os.csv')
else:
  glossario = pd.read_csv('/Users/fernandovieira/Library/CloudStorage/OneDrive-Pessoal/5. Trabalho/Expediente/Ativos/CGE/a. Hora-Atividade/III. Auditoria e Controle 2/SA/OS 240-2021/Piloto Setasc/Dados SER Familia/CADUNICO_SETASC/glossario_os.csv')

# glossario

In [ ]:
glossario

,original,abreviado,explicacao,tipo
0,d_cd_ibge,Q0,Código do IBGE do município,institucional
1,d_cod_familiar_fam,Q1,Código Familiar,programa
2,d_dat_cadastramento_fam,Q2,Data do cadastramento da Família - formato DD/...,programa
3,d_dat_atual_fam,Q3,Data da última atualização da família no forma...,programa
4,d_cod_est_cadastral_fam,Q4,Estado cadastral da família (1 - Em cadastrame...,programa
5,d_cod_forma_coleta_fam,Q5,Forma de coleta (0 - Informação migrada como i...,programa
6,d_dta_entrevista_fam,Q6,Data da entrevista [da família] no formato DD/...,programa
7,d_nom_localidade_fam,Q7,Nome da localidade,social
8,d_vlr_renda_media_fam,Q8,Valor da renda média (per capita) da família -...,renda
9,d_fx_rfpc,Q9,Faixa de renda família per capita,renda
10,d_vlr_renda_total_fam,Q10,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,renda
11,d_marc_pbf,Q11,PBF: Programa Bolsa Família (Beneficiário PBF;...,programa
12,d_qtde_meses_desat_cat,Q12,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,pesquisar
13,d_cod_local_domic_fam,Q13,Características do local onde está situado o d...,social
14,d_cod_especie_domic_fam,Q14,1 - Particular Permanente; 2 - Particular impr...,moradia
15,d_qtd_comodos_domic_fam,Q15,Qtd de comodos do domicilio,moradia
16,d_qtd_comodos_dormitorio_fam,Q16,Qtd de comodo servindo como dormitório do domi...,moradia
17,d_cod_material_piso_fam,Q17,Material predominante no piso do domicílio (1 ...,moradia
18,d_cod_material_domic_fam,Q18,Material predominante nas paredes externas do ...,moradia
19,d_cod_agua_canalizada_fam,Q19,Se o domicílio tem água encanada (1 - Sim; 2 -...,moradia
20,d_cod_abaste_agua_domic_fam,Q20,Forma de abastecimento de água (1 - Rede geral...,moradia
21,d_cod_banheiro_domic_fam,Q21,Existência de banheiro (1 - Sim; 2 - Não),moradia
22,d_cod_escoa_sanitario_domic_fam,Q22,Forma de escoamento sanitário (1 - Rede coleto...,moradia
23,d_cod_destino_lixo_domic_fam,Q23,Forma de coleta do lixo (1 - É coletado direta...,moradia
24,d_cod_iluminacao_domic_fam,Q24,Tipo de iluminação (1 - Elétrica com medidor p...,moradia
25,d_cod_calcamento_domic_fam,Q25,Calçamento (1 - Total; 2 - Parcial; 3 - Não ex...,moradia
26,d_cod_familia_indigena_fam,Q26,Família indígena (1 - Sim; 2 - Não),indigena
27,d_cod_povo_indigena_fam,Q27,Código de povo indígena: campo numérico de 4 p...,indigena
28,d_nom_povo_indigena_fam,Q28,Nome do povo indígena,indigena
29,d_cod_indigena_reside_fam,Q29,Reside em reserva indígena (1 - Sim; 2 - Não),indigena
30,d_cod_reserva_indigena_fam,Q30,Código da reserva indígena: campo de 4 posiçõe...,indigena
31,d_nom_reserva_indigena_fam,Q31,Nome da reserva indígena,indigena
32,d_ind_familia_quilombola_fam,Q32,Não sabe(reserva indígena da família) (0 - Opç...,indigena
33,d_cod_comunidade_quilombola_fam,Q33,Código da comunidade quilombola: campo de 4 po...,quilombola
34,d_nom_comunidade_quilombola_fam,Q34,Nome da comunidade quilombola,quilombola
35,d_qtd_pessoas_domic_fam,Q35,Quantidade de pessoas no domicílio,moradia
36,d_qtd_familias_domic_fam,Q36,Quantidade de famílias no domicílio,moradia
37,d_qtd_pessoa_inter_0_17_anos_fam,Q37,Quantidade de pessoas internadas faixa 0-17 anos,saude
38,d_qtd_pessoa_inter_18_64_anos_fam,Q38,Quantidade de pessoas internadas faixa 18-64 anos,saude
39,d_qtd_pessoa_inter_65_anos_fam,Q39,Quantidade de pessoas internadas faixa 65 anos...,saude
40,d_val_desp_energia_fam,Q40,Valor de despesas com energia. Campo no format...,renda
41,d_val_desp_agua_esgoto_fam,Q41,Valor de despesas com água. Campo no formato N...,renda
42,d_val_desp_gas_fam,Q42,Valor de despesas com gás. Campo no formato NN...,renda
43,d_val_desp_alimentacao_fam,Q43,Valor de despesas com alimentação. Campo no fo...,renda
44,d_val_desp_transpor_fam,Q44,Valor de despesas com transporte. Campo no for...,renda
45,d_val_desp_aluguel_fam,Q45,Valor de despesas com aluguel. Campo no format...,renda
46,d_val_desp_medicamentos_fam,Q46,Valor de despesas com medicamentos. Campo no f...,renda
47,d_nom_estab_assist_saude_fam,Q47,Nome do estabelecimento EAS/MS,institucional
48,d_cod_eas_fam,Q48,Código do estabelecimento EAS/MS,institucional
49,d_nom_centro_assist_fam,Q49,Nome do CRAS/CREAS,institucional
50,d_cod_centro_assist_fam,Q50,Código do CRAS/CREAS,institucional
51,d_ind_parc_mds_fam,Q51,Grupos tradicionais e específicos (0 - Opção n...,pesquisar
52,d_ref_cad,Q52,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,institucional
53,d_ref_pbf,Q53,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,programa
54,p_cod_familiar_fam,Q54,Chave única de identificação da Família,programa
55,p_cod_est_cadastral_memb,Q55,Estado cadastral da pessoa (2 - Sem Registro C...,programa
56,p_ind_trabalho_infantil_pessoa,Q56,Trabalho infantil na família (1 - Sim; 2 - Não),social
57,p_num_nis_pessoa_atual,Q57,NIS atual da pessoa de 11 posições no formato ...,programa
58,p_cod_sexo_pessoa,Q58,Sexo (1 - Masculino; 2 - Feminino),social
59,p_dta_nasc_pessoa,Q59,Data de nascimento da pessoa no formato DDMMAAAA,social
60,p_cod_parentesco_rf_pessoa,Q60,Relaçao de parentesco com o RF (1 - Pessoa Res...,social
61,p_cod_raca_cor_pessoa,Q61,Cor ou raça (1 - Branca; 2 - Preta; 3 - Amarel...,social
62,p_cod_local_nascimento_pessoa,Q62,Local de nascimento (1 - Neste município; 2 - ...,social
63,p_sig_uf_munic_nasc_pessoa,Q63,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,social
64,p_nom_ibge_munic_nasc_pessoa,Q64,Nome do Município de nascimento da Pessoa,social
65,p_cod_ibge_munic_nasc_pessoa,Q65,Código IBGE do Município de nascimento da Pessoa,social
66,p_nom_pais_origem_pessoa,Q66,Nome do país de nascimento da Pessoa,social
67,p_cod_pais_origem_pessoa,Q67,Código do País de nascimento da Pessoa no form...,social
68,p_fx_idade,Q68,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,social
69,p_marc_pbf,Q69,1 – Beneficiário PBF; 0 – Não Beneficiário PBF,programa
70,p_cod_certidao_civil_pessoa,Q70,Tipo de Certidão (1 - Sim e tem Certidão de Na...,social
71,p_cod_ibge_munic_certid_pessoa,Q71,Código IBGE do município da certidão,social
72,p_sig_uf_ident_pessoa,Q72,UF da CI da Pessoa,social
73,p_dta_emissao_cart_trab_pessoa,Q73,Data de emissão da CTPS da Pessoa formato DDMM...,social
74,p_sig_uf_cart_trab_pessoa,Q74,UF da CTPS da Pessoa,social
75,p_cod_deficiencia_memb,Q75,Pessoa tem deficiência,saude
76,p_ind_def_cegueira_memb,Q76,Deficiência Cegueira (0 - Opção não marcada; 1...,saude
77,p_ind_def_baixa_visao_memb,Q77,Deficiência Cegueira (0 - Opção não marcada; 1...,saude
78,p_ind_def_surdez_profunda_memb,Q78,Deficiência Visão (0 - Opção não marcada; 1 - ...,saude
79,p_ind_def_surdez_leve_memb,Q79,Deficiência Surdez Severa (0 - Opção não marca...,saude
80,p_ind_def_fisica_memb,Q80,Deficiência Surdez Leve (0 - Opção não marcada...,saude
81,p_ind_def_mental_memb,Q81,Deficiência Mental (0 - Opção não marcada; 1 -...,saude
82,p_ind_def_sindrome_down_memb,Q82,Deficiência Down (0 - Opção não marcada; 1 - O...,saude
83,p_ind_def_transtorno_mental_memb,Q83,Deficiência Transtorno mental (0 - Opção não m...,saude
84,p_ind_ajuda_nao_memb,Q84,Ajuda Terceiros não recebida (0 - Opção não ma...,social
85,p_ind_ajuda_familia_memb,Q85,Ajuda Terceiros família (0 - Opção não marcada...,social
86,p_ind_ajuda_especializado_memb,Q86,Ajuda Terceiros Especializada (0 - Opção não m...,social
87,p_ind_ajuda_vizinho_memb,Q87,Ajuda Terceiros vizinhos (0 - Opção não marcad...,social
88,p_ind_ajuda_instituicao_memb,Q88,Ajuda Terceiros instituição (0 - Opção não mar...,social
89,p_ind_ajuda_outra_memb,Q89,Ajuda Terceiros outra forma (0 - Opção não mar...,social
90,p_cod_sabe_ler_escrever_memb,Q90,Pessoa sabe ler e escrever (1 - Sim; 2 - Não),educacao
91,p_ind_frequenta_escola_memb,Q91,Pessoa frequenta escola (1 - Sim rede pública;...,educacao
92,p_nom_escola_memb,Q92,Nome da escola da pessoa,educacao
93,p_cod_escola_local_memb,Q93,Escola localizada no município (1 - Sim; 2 - Não),educacao
94,p_sig_uf_escola_memb,Q94,UF da Escola da Pessoa,educacao
95,p_nom_munic_escola_memb,Q95,Nome do Município da Escola da Pessoa,educacao
96,p_cod_ibge_munic_escola_memb,Q96,Código do IBGE do Município da escola da pessoa,educacao
97,p_cod_censo_inep_memb,Q97,Código INEP da escola da pessoa,educacao
98,p_cod_curso_frequenta_memb,Q98,Curso que a pessoa frequenta (1 - Creche; 2 - ...,educacao
99,p_cod_ano_serie_frequenta_memb,Q99,Ano e série que a pessoa frequenta (1 - Primei...,educacao
100,p_cod_curso_frequentou_pessoa_memb,Q100,Curso mais elevado que a pessoa frequentou (1 ...,educacao
101,p_cod_ano_serie_frequentou_memb,Q101,Último ano e série frequentado pela pessoa (1 ...,educacao
102,p_cod_concluiu_frequentou_memb,Q102,A pessoa concluiu o curso (1 - Sim; 2 - Não),educacao
103,p_grau_instrucao,Q103,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,educacao
104,p_cod_trabalhou_memb,Q104,Pessoa trabalhou na semana passada (1 - Sim; 2...,renda
105,p_cod_afastado_trab_memb,Q105,Pessoa afastada na semana passada (1 - Sim; 2 ...,renda
106,p_cod_agricultura_trab_memb,Q106,É atividade extrativista (1 - Sim; 2 - Não),renda
107,p_cod_principal_trab_memb,Q107,Função principal (1 – Trab. por conta própria ...,renda
108,p_val_remuner_emprego_memb,Q108,Valor de remuneração (sem casas decimais),renda
109,p_cod_trabalho_12_meses_memb,Q109,Pessoa com trabalho remunerado 12 meses (1 - S...,renda
110,p_qtd_meses_12_meses_memb,Q110,Quantidade de meses trabalhados nos últimos,renda
111,p_val_renda_bruta_12_meses_memb,Q111,Valor de remuneração bruta (sem casas decimais),renda
112,p_val_renda_doacao_memb,Q112,Valor recebido de doação (sem casas decimais),renda
113,p_val_renda_aposent_memb,Q113,Valor recebido de aposentadoria (sem casas dec...,renda
114,p_val_renda_seguro_desemp_memb,Q114,Valor recebido de seguro desemprego (sem casas...,renda
115,p_val_renda_pensao_alimen_memb,Q115,Valor recebido de pensão alimentícia (sem casa...,renda
116,p_val_outras_rendas_memb,Q116,Valor recebido de outras fontes (sem casas dec...,renda
117,p_marc_sit_rua,Q117,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,rua
118,p_ind_dormir_rua_memb,Q118,Dorme na rua,rua
119,p_qtd_dormir_freq_rua_memb,Q119,Quantidade de vezes por semana que dorme na rua,rua
120,p_ind_dormir_albergue_memb,Q120,Dorme em albergue (0 - Opção não marcada; 1 - ...,rua
121,p_qtd_dormir_freq_albergue_memb,Q121,Quantidade de vezes por semana que dorme em al...,rua
122,p_ind_dormir_dom_part_memb,Q122,Dorme em domicílio particular (0 - Opção não m...,rua
123,p_qtd_dormir_freq_dom_part_memb,Q123,Quantidade de vezes por semana que dorme em do...,rua
124,p_ind_outro_memb,Q124,Dorme de outra forma (0 - Opção não marcada; 1...,rua
125,p_qtd_freq_outro_memb,Q125,Quantidade de vezes por semana que dorme de ou...,rua
126,p_cod_tempo_rua_memb,Q126,Tempo em que vive na rua (1 - Até seis meses; ...,rua
127,p_ind_motivo_perda_memb,Q127,Motivo da condição de rua por perda de moradia...,rua
128,p_ind_motivo_ameaca_memb,Q128,Motivo da condição de rua por ameaça (0 - Opçã...,rua
129,p_ind_motivo_probs_fam_memb,Q129,Motivo da condição de rua por problemas famili...,rua
130,p_ind_motivo_alcool_memb,Q130,Motivo da condição de rua por alcoolismo (0 - ...,rua
131,p_ind_motivo_desemprego_memb,Q131,Motivo da condição de rua por desemprego (0 - ...,rua
132,p_ind_motivo_trabalho_memb,Q132,Motivo da condição de rua por trabalho (0 - Op...,rua
133,p_ind_motivo_saude_memb,Q133,Motivo da condição de rua por tratamento de sa...,rua
134,p_ind_motivo_pref_memb,Q134,Motivo da condição de rua por preferência (0 -...,rua
135,p_ind_motivo_outro_memb,Q135,Motivo da condição de rua por outro motivo (0 ...,rua
136,p_ind_motivo_nao_sabe_memb,Q136,Não sabe/não lembra o motivo da condição de ru...,rua
137,p_ind_motivo_nao_resp_memb,Q137,Não respondeu o motivo da condição de rua (0 -...,rua
138,p_cod_tempo_cidade_memb,Q138,Tempo em que mora na cidade (1 - Até seis mese...,rua
139,p_cod_vive_fam_rua_memb,Q139,Vive com sua família na rua (1 - Sim; 2 - Não),rua
140,p_cod_contato_parente_memb,Q140,Tem contato com parente fora da condição de ru...,rua
141,p_ind_ativ_com_escola_memb,Q141,Atividade comunitária em Escola (0 - Opção não...,pesquisar
142,p_ind_ativ_com_coop_memb,Q142,Atividade comunitária em Cooperativa (0 - Opçã...,pesquisar
143,p_ind_ativ_com_nao_resp_memb,Q145,Não respondeu se frequentou atividade comunitá...,pesquisar
144,p_ind_ativ_com_nao_sabe_memb,Q144,Não sabe se frequentou atividade comunitária (...,pesquisar
145,p_ind_atend_cras_memb,Q146,Atendido por CRAS (0 - Opção não marcada; 1 - ...,programa
146,p_ind_atend_creas_memb,Q147,Atendido por CREAS (0 - Opção não marcada; 1 -...,programa
147,p_ind_atend_centro_ref_rua_memb,Q148,Atendido por Centro Ref Pop Rua (0 - Opção não...,rua
148,p_ind_atend_inst_gov_memb,Q149,Atendido por Instituição Governamental (0 - Op...,programa
149,p_ind_atend_inst_nao_gov_memb,Q150,Atendido por Instituição não Governamental (0 ...,programa
150,p_ind_atend_hospital_geral_memb,Q151,Atendido por Hospital Geral (0 - Opção não mar...,programa
151,p_cod_cart_assinada_memb,Q152,Teve emprego com carteira assinada (1 - Sim; 2...,renda
152,p_ind_dinh_const_memb,Q153,Ganha dinheiro com construção civil (0 - Opção...,renda
153,p_ind_dinh_flanelhinha_memb,Q154,Ganha dinheiro como guardador de carro (0 - Op...,renda
154,p_ind_dinh_carregador_memb,Q155,Ganha dinheiro como carregador (0 - Opção não ...,renda
155,p_ind_dinh_catador_memb,Q156,Ganha dinheiro como catador (0 - Opção não mar...,renda
156,p_ind_dinh_servs_gerais_memb,Q157,Ganha dinheiro com serviços gerais (0 - Opção ...,renda
157,p_ind_dinh_pede_memb,Q158,Ganha dinheiro como pedinte (0 - Opção não mar...,renda
158,p_ind_dinh_vendas_memb,Q159,Ganha dinheiro com vendas (0 - Opção não marca...,renda
159,p_ind_dinh_outro_memb,Q160,Ganha dinheiro de outra forma (0 - Opção não m...,renda
160,p_ind_dinh_nao_resp_memb,Q161,Não respondeu como ganha dinheiro (0 - Opção n...,renda
161,p_ind_atend_nenhum_memb,Q162,Não foi atendido por nenhum local (0 - Opção n...,programa
162,p_ref_cad,Q163,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,pesquisar
163,p_ref_pbf,Q164,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,pesquisar

In [ ]:
## Separar colunas úteis na análise do SER Família Emergencial (OS 240)
SF = ['Q0', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12',
      'Q47', 'Q48', 'Q49', 'Q50', 'Q52', 'Q53', 'Q54', 'Q55', 'Q57', 'Q58', 'Q59', 'Q60', 'Q64',
      'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113', 'Q114', 'Q115', 'Q116']
# Q162 e Q163 aparentemente se referem a cadastros de programa voltados para moradores de rua. Confirmar.

serem = df.loc[:, SF]

In [ ]:
serem.head(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q47,Q48,Q49,Q50,Q52,Q53,Q54,Q55,Q57,Q58,Q59,Q60,Q64,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,2,1961-08-25,1.0,ACORIZAL,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,1,1958-03-01,2.0,ACORIZAL,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [ ]:
serem.tail(2)

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q47,Q48,Q49,Q50,Q52,Q53,Q54,Q55,Q57,Q58,Q59,Q60,Q64,Q107,Q108,Q109,Q110,Q111,Q112,Q113,Q114,Q115,Q116
1316483,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,2021-06-12,NaN,6520457230,3,2.388970e+10,1,1998-07-31,2.0,ALTA FLORESTA,3.0,1500.0,1.0,12.0,18000.0,0.0,0.0,0.0,0.0,0.0
1316484,5108956,6520457230,2021-06-07,2021-06-08,3,1,2021-06-08,CENTRO,750,4,1500.0,0,0,PSF I JOAO HUNKA NETO,2471213.0,NaN,NaN,2021-06-12,NaN,6520457230,3,2.064009e+10,2,2000-01-11,1.0,CARLINDA,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Mudar títulos das colunas
titulos = ['0_cod_ibge', '1_cod', '1_data_cad', '1_data_atual_cad', '1_sit_cad', '1_forma_coleta',
           '1_data_entrev', '1_bairro', '1_rem_media', '1_rem_faixa', '1_rem_total', '1_pbf',
           '1_meses_cad_desat', '0_nome_eas', '0_cod_eas', '0_nome_cras', '0_cod_cras', 'Q52',
           'Q53', '2_cod_fam', '2_sit_cad', '2_nis', '2_sexo', '2_data_nasc',
           '3_parent_rf', '1_cidade', '3_cod_prof', '3_rem', '3_cod_trab_12meses', '3_qtde_12meses', '3_rem_12meses',
           '3_rem_doacao', '3_rem_aposent', '3_rem_segDes', '3_rem_pensAlim', '3_rem_outras']

# 0: institucional
# 1: família
# 2: pessoa
# 3: responsável familiar (rf) ou membro

serem.columns = titulos

In [ ]:
serem.head()

,0_cod_ibge,1_cod,1_data_cad,1_data_atual_cad,1_sit_cad,1_forma_coleta,1_data_entrev,1_bairro,1_rem_media,1_rem_faixa,1_rem_total,1_pbf,1_meses_cad_desat,0_nome_eas,0_cod_eas,0_nome_cras,0_cod_cras,Q52,Q53,2_cod_fam,2_sit_cad,2_nis,2_sexo,2_data_nasc,3_parent_rf,1_cidade,3_cod_prof,3_rem,3_cod_trab_12meses,3_qtde_12meses,3_rem_12meses,3_rem_doacao,3_rem_aposent,3_rem_segDes,3_rem_pensAlim,3_rem_outras
0,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,2,1961-08-25,1.0,ACORIZAL,1.0,100.0,1.0,6.0,600.0,0.0,0.0,0.0,0.0,0.0
1,5100102,148352669,2002-05-29,2020-03-17,3,1,2020-03-17,JOAO DE BARRO I,25,1,50.0,1,1,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352669,3,2.033368e+10,1,1958-03-01,2.0,ACORIZAL,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,5100102,148352901,2002-05-29,2019-01-07,3,1,2018-01-07,ALDEIA,33,1,99.0,1,3,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352901,3,1.241636e+10,1,1960-03-20,2.0,ACORIZAL,1.0,300.0,1.0,4.0,1200.0,0.0,0.0,0.0,0.0,0.0
3,5100102,148352901,2002-05-29,2019-01-07,3,1,2018-01-07,ALDEIA,33,1,99.0,1,3,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352901,3,1.621500e+10,1,1993-03-09,3.0,VARZEA GRANDE,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,5100102,148352901,2002-05-29,2019-01-07,3,1,2018-01-07,ALDEIA,33,1,99.0,1,3,NaN,NaN,NaN,NaN,2021-06-12,202107.0,148352901,3,1.621493e+10,2,1959-12-12,1.0,ACORIZAL,NaN,0.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Deixar colunas em ordem alfanumérica
serem = serem.reindex(columns=sorted(serem.columns))

In [ ]:
serem.head()

,0_cod_cras,0_cod_eas,0_cod_ibge,0_nome_cras,0_nome_eas,1_bairro,1_cidade,1_cod,1_data_atual_cad,1_data_cad,1_data_entrev,1_forma_coleta,1_meses_cad_desat,1_pbf,1_rem_faixa,1_rem_media,1_rem_total,1_sit_cad,2_cod_fam,2_data_nasc,2_nis,2_sexo,2_sit_cad,3_cod_prof,3_cod_trab_12meses,3_parent_rf,3_qtde_12meses,3_rem,3_rem_12meses,3_rem_aposent,3_rem_doacao,3_rem_outras,3_rem_pensAlim,3_rem_segDes,Q52,Q53
0,NaN,NaN,5100102,NaN,NaN,JOAO DE BARRO I,ACORIZAL,148352669,2020-03-17,2002-05-29,2020-03-17,1,1,1,1,25,50.0,3,148352669,1961-08-25,2.033368e+10,2,3,1.0,1.0,1.0,6.0,100.0,600.0,0.0,0.0,0.0,0.0,0.0,2021-06-12,202107.0
1,NaN,NaN,5100102,NaN,NaN,JOAO DE BARRO I,ACORIZAL,148352669,2020-03-17,2002-05-29,2020-03-17,1,1,1,1,25,50.0,3,148352669,1958-03-01,2.033368e+10,1,3,NaN,2.0,2.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2021-06-12,202107.0
2,NaN,NaN,5100102,NaN,NaN,ALDEIA,ACORIZAL,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,1,1,33,99.0,3,148352901,1960-03-20,1.241636e+10,1,3,1.0,1.0,2.0,4.0,300.0,1200.0,0.0,0.0,0.0,0.0,0.0,2021-06-12,202107.0
3,NaN,NaN,5100102,NaN,NaN,ALDEIA,VARZEA GRANDE,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,1,1,33,99.0,3,148352901,1993-03-09,1.621500e+10,1,3,NaN,2.0,3.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2021-06-12,202107.0
4,NaN,NaN,5100102,NaN,NaN,ALDEIA,ACORIZAL,148352901,2019-01-07,2002-05-29,2018-01-07,1,3,1,1,33,99.0,3,148352901,1959-12-12,1.621493e+10,2,3,NaN,2.0,1.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2021-06-12,202107.0

In [ ]:
serem.tail()

,0_cod_cras,0_cod_eas,0_cod_ibge,0_nome_cras,0_nome_eas,1_bairro,1_cidade,1_cod,1_data_atual_cad,1_data_cad,1_data_entrev,1_forma_coleta,1_meses_cad_desat,1_pbf,1_rem_faixa,1_rem_media,1_rem_total,1_sit_cad,2_cod_fam,2_data_nasc,2_nis,2_sexo,2_sit_cad,3_cod_prof,3_cod_trab_12meses,3_parent_rf,3_qtde_12meses,3_rem,3_rem_12meses,3_rem_aposent,3_rem_doacao,3_rem_outras,3_rem_pensAlim,3_rem_segDes,Q52,Q53
1316480,NaN,8015996.0,5108956,NaN,PSF II DOMINGOS GONCALVES DE SOUZA,ESTRADA SAO BERNARDO,APIACAS,6509608820,2021-05-25,2021-05-25,2021-05-25,1,0,0,2,144,432.0,3,6509608820,2005-05-06,1.633631e+10,2,3,NaN,2.0,3.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2021-06-12,NaN
1316481,NaN,8015996.0,5108956,NaN,PSF II DOMINGOS GONCALVES DE SOUZA,LOTEAMENTO SANTO ANTONIO,JUARA,6517206647,2021-06-01,2021-06-01,2021-06-01,1,0,0,3,333,333.0,3,6517206647,1999-12-17,2.104789e+10,2,3,NaN,1.0,1.0,5.0,800.0,4000.0,0.0,0.0,0.0,0.0,0.0,2021-06-12,NaN
1316482,NaN,8015996.0,5108956,NaN,PSF II DOMINGOS GONCALVES DE SOUZA,ESTRADA PALMITAL,IPORA,6518517344,2021-06-02,2021-06-02,2021-06-02,1,0,0,1,50,50.0,3,6518517344,1969-01-12,1.273067e+10,2,3,1.0,1.0,1.0,1.0,600.0,600.0,0.0,0.0,0.0,0.0,0.0,2021-06-12,NaN
1316483,NaN,2471213.0,5108956,NaN,PSF I JOAO HUNKA NETO,CENTRO,ALTA FLORESTA,6520457230,2021-06-08,2021-06-07,2021-06-08,1,0,0,4,750,1500.0,3,6520457230,1998-07-31,2.388970e+10,1,3,3.0,1.0,2.0,12.0,1500.0,18000.0,0.0,0.0,0.0,0.0,0.0,2021-06-12,NaN
1316484,NaN,2471213.0,5108956,NaN,PSF I JOAO HUNKA NETO,CENTRO,CARLINDA,6520457230,2021-06-08,2021-06-07,2021-06-08,1,0,0,4,750,1500.0,3,6520457230,2000-01-11,2.064009e+10,2,3,NaN,2.0,1.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2021-06-12,NaN

In [ ]:
serem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316485 entries, 0 to 1316484
Data columns (total 36 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   0_cod_cras          494142 non-null   float64
 1   0_cod_eas           581795 non-null   float64
 2   0_cod_ibge          1316485 non-null  int64
 3   0_nome_cras         494142 non-null   object
 4   0_nome_eas          581795 non-null   object
 5   1_bairro            1316485 non-null  object
 6   1_cidade            1303851 non-null  object
 7   1_cod               1316485 non-null  int64
 8   1_data_atual_cad    1316485 non-null  object
 9   1_data_cad          1316485 non-null  object
 10  1_data_entrev       1316485 non-null  object
 11  1_forma_coleta      1316485 non-null  int64
 12  1_meses_cad_desat   1316485 non-null  int64
 13  1_pbf               1316485 non-null  int64
 14  1_rem_faixa         1316485 non-null  int64
 15  1_rem_media         1316485 non-null  int64
 16  1_rem_total         1316459 non-null  float64
 17  1_sit_cad           1316485 non-null  int64
 18  2_cod_fam           1316485 non-null  int64
 19  2_data_nasc         1316485 non-null  object
 20  2_nis               1316440 non-null  float64
 21  2_sexo              1316485 non-null  int64
 22  2_sit_cad           1316485 non-null  int64
 23  3_cod_prof          306053 non-null   float64
 24  3_cod_trab_12meses  894640 non-null   float64
 25  3_parent_rf         1309891 non-null  float64
 26  3_qtde_12meses      321378 non-null   float64
 27  3_rem               894645 non-null   float64
 28  3_rem_12meses       321378 non-null   float64
 29  3_rem_aposent       1315784 non-null  float64
 30  3_rem_doacao        894654 non-null   float64
 31  3_rem_outras        894668 non-null   float64
 32  3_rem_pensAlim      1315770 non-null  float64
 33  3_rem_segDes        894653 non-null   float64
 34  Q52                 1316485 non-null  object
 35  Q53                 534713 non-null   float64
dtypes: float64(16), int64(11), object(9)
memory usage: 361.6+ MB

In [ ]:
## Configurar os tipos dos dados
# descrição (pandas type)

# Código (category)
['0_cod_cras', '0_cod_eas', '0_cod_ibge', '1_cod', '2_cod_fam', '3_cod_prof', '1_forma_coleta',
 '1_rem_faixa', '1_sit_cad', '2_nis']

# Textos (object)
['0_nome_cras', '0_nome_eas', '1_bairro', '1_cidade']

# Datas (datetime64)
['1_data_atual_cad', '1_data_cad', '1_data_entrev', '2_data_nasc']

# usar category ou object: https://stackoverflow.com/questions/30601830/when-to-use-category-rather-than-object