In [1]:
import pandas as pd

In [2]:
pd.read_csv('glossario_os.csv')

,Unnamed: 0,original,abreviado,explicacao,formato,socioeconomico
0,0,d_cd_ibge,Q0,Código do IBGE do município,object,NaN
1,1,d_cod_familiar_fam,Q1,Código Familiar,object,NaN
2,2,d_dat_cadastramento_fam,Q2,Data do cadastramento da Família - formato DD/...,NaN,NaN
3,3,d_dat_atual_fam,Q3,Data da última atualização da família no forma...,NaN,NaN
4,4,d_cod_est_cadastral_fam,Q4,Estado cadastral da família (1 - Em cadastrame...,NaN,NaN
...,...,...,...,...,...,...
159,160,p_ind_dinh_outro_memb,Q160,Ganha dinheiro de outra forma (0 - Opção não m...,NaN,NaN
160,161,p_ind_dinh_nao_resp_memb,Q161,Não respondeu como ganha dinheiro (0 - Opção n...,NaN,NaN
161,162,p_ind_atend_nenhum_memb,Q162,Não foi atendido por nenhum local (0 - Opção n...,NaN,NaN
162,163,p_ref_cad,Q163,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,NaN,NaN
163,164,p_ref_pbf,Q164,**NÃO ENCONTRADO CADÚNICO: Ver de onde a SETAS...,NaN,NaN